
<h1>List of All Articles</h1>

<b><%= link_to "Create New Article", new_article_path %></b>

<p></p>

<table>

  <tr>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    <th style="text-align:left;">Title</th>
    <th style="text-align:left;">Description</th>
  </tr>

  <% @articles.each do |article| %>

    <tr>
      <td><%= link_to 'View', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %></td> <!-- We have to explicity direct Rails to the controller's delete method -->
      <td><%= article.title %></td>
      <td><%= article.description %></td>
    </tr>

  <% end %>

</table>